h5 { text-transform: uppercase; letter-spacing: .15rem; font-weight: bold; }
li { margin-bottom: 0; }
img { display: block; margin: 0 auto 2.5rem auto; max-width: 100%; }
.container { margin: 50px auto 150px auto }
@media print
{
    .no-print, .no-print * { display: none !important; }
    .container { margin: 50px auto 50px auto; }
}
