h6 {
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-weight: bold;
}

ol {
    counter-reset: item;
    line-height: 1.1
}

ol li {
    display: block
}

ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

img {
    display: block;
    margin: 0 auto 2.5rem auto;
    max-width: 100%;
    box-sizing: border-box;
}

img.icon {
    display: inline-block;
    margin: 0 0.5rem;
    height: 1.2em;
}

.container {
    margin: 50px auto 150px auto
}

iframe {
    border: none;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 2.5rem;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

    .container {
        margin: 50px auto 50px auto;
    }
}
